/* base styles */
.hero-container {
    height: 130dvh;
    padding: 39px 5% 0;
    position: relative;
    z-index: 1;
    background-color: #000;
    background-image: url("../assets/LandingPageBG.png");
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: 60% 20%;
    border-bottom: white 3px solid;
}

/* mobile: center background horizontally */
@media screen and (max-width: 768px) {
    .hero-container {
        /* keep the vertical offset, but center on the x‑axis */
        background-position: 35% 20%;
    }
}
