/* src/styles/infoBar.css */

.info-bar {
    position: absolute;       /* out of flow, relative to that parent */
    top: 80%;                 /* 40% down from the top of the parent block */
    left: 50%;
    transform: translateX(-50%);  /* center horizontally */

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1f2937;
    padding: 1rem 2rem;
    border-radius: 10px;

    width: 90%;
    height: 15dvh;
}



.info-bar__item {
    display: flex;
    align-items: center;
}

.info-bar__indicator {
    width: 10px;
    height: 10dvh;
    background-color: #3b82f6;    /* blue accent */
    border-radius: 5px;
    margin-right: 2rem;
    margin-left: 0.75rem;
}

.info-bar__label {
    color: #fff;
    /* never below 1rem, never above 1.5rem, but scale with vw in between */
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 1000;
    white-space: pre-line;
    text-align: center;
}
