.logo-wrapper {
    padding-left: 0;
    overflow: visible;
    z-index: 2;
}

.white-toggle .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.contactBtn{
    font-family: "Montserrat", Arial, sans-serif;
}
.navbar{
    margin-bottom: 10dvh
}



@media screen and (max-width: 768px) {
    .navbar{
        margin-bottom: 10dvh
    }

    .navbar-brand img {
        width: 120px; /* shrink logo size */
    }

}
