.pageFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: "Montserrat", Arial, sans-serif;
    text-align: center;
    background-color: #023272;
    padding-top: 8dvh;
    padding-bottom: 8dvh;
}

.bottomBorder {
    background-color: aliceblue;
    height: 2px;
    border-top: aliceblue solid 4px;
}


.headFormat{

    font-size: clamp(1.8rem, 2.2rem, 2.5rem);
    margin: 2dvh;
    color: aliceblue;
}

.bodyFormat{
    font-size: clamp(1rem, 1.3rem, 1.6rem);
    margin: 2.5dvh;
    color: aliceblue;
}

.mediaBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Logo:active{
    transform: scale(0.8);
}