/* index.css */
body {
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.static-glow-no-animation {
  transition: filter 0.5s ease-in-out;
}

.static-glow-no-animation:hover {
  filter: drop-shadow(0 0 8px white);
}
